body{
background:#121212;
color:white;
font-family:Arial;
padding:40px;

}

h1{
font-size:48px;
margin-bottom:40px;
text-align:center;

}

#month{
    padding:25px 50px;
    block-size: auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}

.active{
    background:#1ed760;
    transform:scale(1.05);

}

button{
background:#1DB954;
color:white;
border:none;
padding:15px 25px;
margin-right:10px;
border-radius:20px;
font-size:18px;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.05);
}

#menu{
display:flex;
gap:20px;
margin-top:30px;
margin-bottom:30px;
justify-content:center;
}

#content{
margin-top:0px;
background:#202020;
padding:30px;
border-radius:20px;
min-height:300px;
max-width:900px;
margin:auto;
text-align: center;

}